.institutes-modal {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    padding: 0;
    align-items: center;
    border-radius: 0px;
}

.institutions-list {
    display: flex;
    width: 100%;
    display: grid;
}

.institutions-list-item {
    display: flex;
    justify-content: center;
}

.institutions-list {
    grid-template-columns: 25% 25% 25% 25%;
}

@media (max-width: 1200px) {
    
}

@media (max-width: 460px) {
    .institutions-list {
        grid-template-columns: 25% 25% 25% 25%;
    }
}
