/* .settings-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 20px 10px;
    align-items: center;
    background: #FCFCFC;
    border-radius: 0px;
    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.10);
}

.settings-head {
    display: flex;
    width: 100%;
}

.settings-title {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    margin-right: 5px;
    text-align: center;
    border-radius: 8px;
    background: #EEE;
    /* border-radius: 12px; 
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.10); 
}

.settings-title-text {
    margin: 0;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 40px;
    color: #6D6D6D;
}

@media (max-width: 1200px) {
    .settings-container {
        padding: 10px 20px;
        border-radius: 12px 12px 0px 0px;
    }

    .home-elements-div {
        position: static;
        padding: 0;
        width: 0;
        height: 100%;
    }

    .search-div {
        position: absolute;
        top: 40px;
        left: 5px;
        right: 5px;
        padding: 5px;
    }

    .institutes-modal {
        position: absolute;
        top: auto;
        padding: 10px;
        width: 100%;
        border-radius: 12px 12px 0px 0px;
        box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.10);
    }
} */