.InstitutionsListItemLink {
    margin-bottom: 10px;
    flex-direction: column;
    max-width: 80px;
}

.institutions-icon {
    width: 100%;
    border-radius: 10px;
}

.institutions-name {
    margin: 0;
    font-weight: 500;
    font-size: 12px;
    line-height: normal;
    color: #6D6D6D;
}

@media (width <= 372px) {
    .institutions-name {
        font-size: 10px;
    }

    .institutions-icon {
        width: 95%;
    }
}