.floor-element:not(:last-child) {
    margin-bottom: 5px;
}

.floor-button {
    height: 40px;
    width: 40px;
    font-weight: 500;
    font-size: 14px;
    border-radius: 6px;
    color: #6D6D6D;
    background-color: #EEEEEE;
}

.active {
    color: #EEEEEE;
    background-color: #6D6D6D;
}

.on-the-way {
    /* outline: 2px solid #95BA9F; */

    box-shadow: 0 0 0 2pt #95BA9F;
}