.PointsSearchInput {
    width: 100%;
    padding: 12px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 8px;
    outline: none;
    color: #3A3A3A;
    background-color: #F4F4F2;
}

.points-search-input::placeholder {
    font-size: 14px;
    font-weight: 600;
    color: #CCC;
}